@import url('https://fonts.googleapis.com/css?family=Athiti|Pattaya|Roboto');

body {
    color: rgba(31, 31, 31, 0.9);
    font-family: 'Roboto', Arial, Helvetica, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Athiti', sans-serif;
}

header, footer {
    background-color: rgba(255, 191, 0, 0.75);
}

header h1 {
    font-family: 'Pattaya', Arial, Helvetica, sans-serif;
}

.topic {
    color: rgba(63, 63, 63, 0.85);
    background-color: rgb(255, 255, 0, 0.5);
}

.topic.selected, .topic:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 0, 0.25);
    color: rgba(255, 255, 255, 0.9);
}

main {
    min-height: calc(100vh - 10.5rem);
}

main .container {
    background-color: rgba(225, 225, 225, 0.9)
}

#mediaInfo h2 {
    font-weight: 700;
}

.gif .fa-heart {
    top: 50%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

.gif .fa-heart.fas {
    color: rgba(255, 191, 0, 0.5);
}

#disclaimer {
    display: none;
}

#searches {
    background-color: rgba(255, 191, 0, 0.5);
    max-height: 10rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    cursor: pointer;
}

footer {
    height: 4rem;
}